//Colori per il tema chiaro
$sfondo-chiaro: #ecf0f1;
$text-chiaro: #2c3e50;
$link-chiaro: #3498db;

// Colori per il tema scuro
$sfondo-scuro: #000000;
$text-scuro: #ffffff;
$link-scuro: #ffffff;
$-link-scuro-hover: #f1c40f;
