%menu-background {
    background-color: #e7e7e7;
}

.menu {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.menu-item {
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid transparent;
    display: inline-block;
    font-size: 30px;

    &:last-child {
        @extend %menu-background;
        border-color: #333333;
        border: solid;
    }
}