nav {
    background-color: yellow;
    color: red;

    ul {
        display: flex;
        justify-content: center;
        padding: 20px;
        gap: 20px;

        li {
            list-style: none;
            font-size: 18px;

            &:hover {
                color: green;
                cursor: pointer;
            }
        }
    }
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;


    .box {
        background-color: bisque;
        font-size: 30px;
        padding: 15px;

        p {
            color: green;
        }
    
    }
}

