$bg-chiaro: #00f0f0;
$bg-scuro: #444;

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .item {
        width: 500px;
        height: 600px;
        text-align: center;
        margin: 20px;
        padding: 20px;
        color: brown;
        font-size: 40px;
        border: 3px solid black;


        @for $i from 1 through 2 {
            &:nth-child(#{$i})
         {
            @if $i == 1 {
                background-color: $bg-chiaro;
            } @else {
                background-color: $bg-scuro;
            }
        }
        
        }

    }
}